<h2>My Heroes</h2>
<ul class="heroes">
    <!-- per ogni hero di heroes -->
    <li *ngFor="let hero of heroes">
        <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)" type="button" (click)="onSelect(hero)">
            <span class="badge">{{hero.id}}</span>
            <span class="name">{{hero.name}}</span>
        </button>
    </li>
</ul>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>
<!--salvo selected hero nella variabile [hero] e la importo nell'hero-detail component-->